<template>
    <template if:true={showSpinner}>
		<div class="backdrop">
			<div class="spinner">
				<lightning-spinner alternative-text="Loading..."></lightning-spinner>
			</div>
		</div>
	</template>
    <lightning-card>

        <!-- <lightning-accordion allow-multiple-sections-open>
            <lightning-accordion-section name="Announcements" label="Announcements"> -->
        <div class="slds-card__body_inner" style="padding: 0 1.5rem;padding-bottom: 1rem;">
            <!-- <h2 slot="title">
                    <lightning-icon icon-name="standard:announcement" size="medium"></lightning-icon>
                    &nbsp; <b> {announcementType} </b>
            </h2> -->
            <c-nm-lightning-page-header page-header={announcementType} icon = "standard:announcement" ></c-nm-lightning-page-header>
            <lightning-layout multiple-rows="true" pull-to-boundary="medium">
                <template for:each={visibleList} for:item="news">
                    <lightning-layout-item key={news.Id} size="12">

                        <div class="slds-var-p-around_large">
                            <lightning-card title="" class="news-tile">
                                <div class="slds-var-p-horizontal_small news-tile-body">
                                    <div class="slds-media">
                                        <div class="slds-media__body">
                                            <div class="slds-p-left_medium slds-p-right_medium">
                                                <div class="slds-gutters_medium">
                                                    <div class="slds-grid slds-wrap">
                                                        <div
                                                            class="slds-col slds-small-size_12-of-12 slds-medium-size_4-of-12 slds-large-size_2-of-12">
                                                            <img src={news.imgLink} class="news-image" />
                                                        </div>
                                                        <div
                                                            class="slds-col slds-small-size_12-of-12 slds-medium-size_8-of-12 slds-large-size_10-of-12">
                                                            <p class="slds-var-m-bottom_xx-small title">
                                                                <a href={news.newsUrl} target="_blank">{news.Title__c}
                                                                </a>
                                                            </p>
                                                            <p class="slds-var-m-bottom_xx-small">{news.ContentId}</p>

                                                            <p class="richTextBody">
                                                                <lightning-formatted-rich-text value={news.Body__c}>
                                                                </lightning-formatted-rich-text>
                                                            </p>
                                                            <p class="slds-var-m-bottom_xx-small date">
                                                                
                                                                <lightning-formatted-date-time
                                                                                value={news.DateVal}
                                                                                year="numeric"
                                                                                day="2-digit"
                                                                                month="long"
                                                                                time-zone="UTC">
                                                                </lightning-formatted-date-time>
                                                                
                                                                
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </lightning-card>
                        </div>


                    </lightning-layout-item>
                </template> 
            </lightning-layout>
            <br />
                <c-nm-announcements-pagination pagesizeoptions={pageSizeOptionsVals} perpage={perpage} rdata={newsList}
                            onpagesizechange={setPageSize} onpagination={handlePagination}>
                </c-nm-announcements-pagination>
        </div>
        <!-- </lightning-accordion-section>
    </lightning-accordion> -->
    </lightning-card>
</template>