.news-tile { 
    border: 1px solid #dddbda;
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.news-tile:hover { 
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}
.news-silhouette {
    height: 100px;
}
.title {
    font-size: 1.2rem;
}
.date {
    color: #5a5a5a;
    margin-top: 10px;
}
.news-image {
    /* border: 1px solid #ccc; */
    height: 120px;
    width: 175px;
}

.textsize {
    font-size: 15px;
}

.brief_card {
    background: #526475;
    font-size: 14px;
    color: White;
    padding: 1.5rem;
}

.card-base{
    margin-top: 1.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.intro {
        padding-bottom: 1rem;
        font-size: small;
 }